name: release

on:
  release:
    types:
      - created

jobs:
  distribute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Parse and set release verison
      - run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      # Build Docker image
      - run: BUILD_NUMBER=${{ env.RELEASE_VERSION }} make docker-build

      # Log in to Quay.io via Docker
      - uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      # Push Docker image to Quay.io
      - run: BUILD_NUMBER=${{ env.RELEASE_VERSION }} make docker-push
